/*Header*/
.mainHeader {
	background-color:white;
  color: black;
  padding: 25px 0 25px 0;
  margin-bottom: 20px;
}

/*Body*/
body {
  background-color: lightgray;
  font-family: 'Arial';
  color: black;
}

/*H1 and Google Font*/
h1 {
	font-weight: 700;
  color: black;
  font-family: 'Noto Serif', serif;
}

/*H2*/
h2 {
  color: #f4f4f4;
}

/*H3*/
h3 {
	font-weight: 700;
}

/*H4*/
h4 {
  font-family: 'Times New Roman';
}

/*Sidebar*/
.sidebar {
  float: right;
	background-color:lightgray;
}

/*Callout*/
.calloutStyle {
background-color: #333;
color: #fff;
font-size: 1.25rem;
}

/*Cover Photo*/
.bigImage {
  padding: 2px;
  margin: 10px 0 10px 0;
}

/*Footer*/
.footer {
  background-color: white;
}

